{% load static %}
<!DOCTYPE html>
<html class="wide wow-animation" lang="hu">
    <head>
      <title>Marsfaloda - {% block title %}{% endblock %}</title>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900,900i%7CPT+Serif:400,700">
      <link rel="stylesheet" href="../static/css/bootstrap.css">
      <link rel="stylesheet" href="../static/css/fonts.css">
      <link rel="stylesheet" href="../static/css/style.css">
      <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
    </head>
  <body> 
    <header class="section page-header">
      <!-- RD Navbar-->
      <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
          <div class="rd-navbar-main-outer">
            <div class="rd-navbar-main">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel"> 
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a href="/"><img class="brand-logo-light rounded h-50 w-50 mx-auto" src="../static/images/logo.png"/></a></div>
              </div>
              <div class="rd-navbar-main-element">
                <div class="rd-navbar-nav-wrap"> 
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/">Kezdőlap</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/">Rólunk</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/">Hírlevél</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/">Kapcsolat</a>
                    </li>
                  </ul><a class="button button-white button-sm" href="/">asztal folgalás</a>
                </div>
              </div><a class="button button-white button-sm" href="#reserve">Asztal folgalás</a>
            </div>  
          </div>
        </nav>
      </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer class="section footer-minimal context-dark">
      <div class="container wow-outer">
        <div class="wow fadeIn">
          <div class="row row-60">
            <div class="col-12"><a href="/"><img class="rounded" src="../static/images/logo.png" alt="" width="140" height="57"/></a></div>
            <div class="col-12">
              <ul class="footer-minimal-nav">
                <li><a href="#menu">Menü</a></li>
                <li><a href="/">Blog</a></li>
                <li><a href="/">Kapcsolat</a></li>
                <li><a href="#gallery">Képgaléria</a></li>
                <li><a href="/">Rólunk</a></li>
              </ul>
            </div>
            <div class="col-12">
              <ul class="social-list">
                <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-facebook" href="https://www.facebook.com/marsfaloda/" target="_blank"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Javascript-->
    <script src="../static/js/core.min.js"></script>
    <script src="../static/js/script.js"></script>
    <!-- coded by Ragnar-->
  </body>
</html>