{% extends 'base.html' %}
{% load static %}
{% block title %}Kedzőlap{% endblock %}


{% block content %} 
      <section class="section section-lg section-main-bunner section-main-bunner-filter text-center">
        <div class="main-bunner-img" style="background-image: url(&quot;../static/images/borito.png&quot;); background-size: cover;"></div>
        <div class="main-bunner-inner">
          <div class="container">
            <div class="box-default">
              <h1 class="box-default-title">Üdvözöljük</h1>
              <div class="box-default-decor" id="reserve"></div>
              <p class="big box-default-text">Fedezze fel a Marsfaloda ízeit a különleges napi menüjeivel.</p>
            </div>
          </div>
        </div>
      </section>
      <div class="bg-gray-1">
        <section class="section-transform-top">
          <div class="container">
            <div class="box-booking mx-auto">
              <form class="rd-form rd-mailform booking-form">
                <div>
                  <p class="booking-title">Név</p>
                  <div class="form-wrap">
                    <input class="form-input" id="booking-name" type="text" name="name" data-constraints="@Required">
                    <label class="form-label" for="booking-name">Az ön neve...</label>
                  </div>
                </div>
                <div>
                  <p class="booking-title">Telefonszám</p>
                  <div class="form-wrap">
                    <input class="form-input" id="booking-phone" type="text" name="phone" data-constraints="@Numeric">
                    <label class="form-label" for="booking-phone">Az ön telefonszáma...</label>
                  </div>
                </div>
                <div>
                  <p class="booking-title">Dátum</p>
                  <div class="form-wrap form-wrap-icon" style="cursor="""><span class="icon mdi mdi-calendar-text"></span>
                    <input class="form-input" id="booking-date" type="text" name="date" data-constraints="@Required" data-time-picker="date">
                  </div>
                </div>
                <div>
                  <p class="booking-title">emberek száma</p>
                  <div class="form-wrap">
                    <select data-placeholder="2">
                      <option label="placeholder"></option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                    </select>
                  </div>
                </div>
                <div>
                  <button class="button button-lg button-gray-600" type="submit">Foglalás</button>
                </div>
              </form>
            </div>
          </div>
        </section>

      </div>
      <section class="section section-lg bg-gray-1">
        <div class="container" id="menu">
          <h2 class="text-center">Napi menü</h2>
          {% if daily_menu %}
          <div class="row">
            <div class="col-12">
              <div class="tabs-custom tabs-horizontal tabs-classic" id="tabs-1">
                <ul class="nav nav-tabs nav-tabs-classic">
                  <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-1-1" data-toggle="tab">Leves(ek)</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-2" data-toggle="tab">Főéte(ek) </a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-3" data-toggle="tab">Desszert(ek)</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="tabs-1-1">
                    <div class="box-event-modern">
                      {% for soup in soups %}
                      <div class="event-item-modern">
                        <h4 class="event-item-modern-title"><a>{{ soup.name }}</a></h4>
                        <div class="event-item-modern-text">
                          <p>{{ soup.description }}</p>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tabs-1-2">
                    <div class="box-event-modern">
                      {% for main_course in main_courses %}
                      <div class="event-item-modern">
                        <h4 class="event-item-modern-title"><a>{{ main_course.name }}</a></h4>
                        <div class="event-item-modern-text">
                          <p>{{ main_course.description }}</p>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tabs-1-3">
                    <div class="box-event-modern">
                      {% for dessert in desserts %}
                      <div class="event-item-modern">
                        <h4 class="event-item-modern-title"><a>{{ dessert.name }}</a></h4>
                        <div class="event-item-modern-text">
                          <p>{{ dessert.description }}</p>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <p class="text-center">Nincs elérhető napi menü.</p>
          {% endif %}
        </div>
      </section>
      <section class="section" id="gallery">
        <div class="row isotope-wrap m-2 p-2">
          <!-- Isotope Content-->
          <div class="col-lg-12 p-2">
            <div class="isotope" data-isotope-layout="fitRows" data-isotope-group="gallery" data-lightgallery="group" data-lg-thumbnail="false">
              <div class="row no-gutters row-condensed">
                <div class="col-12 col-sm-6 col-md-4 isotope-item wow-outer" data-filter="*">
                  <div class="wow slideInDown ">
                    <div class="gallery-item-classic"><img src="../static/images/sultek.jpg" alt="" width="640" height="429"/>
                      <div class="gallery-item-classic-caption"><a href="../static/images/sultek.jpg" data-lightgallery="item">zoom</a></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 isotope-item wow-outer" data-filter="Category 3">
                  <div class="wow slideInDown">
                    <div class="gallery-item-classic"><img src="../static/images/sultek_2.jpg" alt="" width="640" height="429"/>
                      <div class="gallery-item-classic-caption"><a href="../static/images/sultek_2.jpg" data-lightgallery="item">zoom</a></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-4 isotope-item wow-outer" data-filter="Category 3">
                  <div class="wow slideInDown">
                    <div class="gallery-item-classic"><img src="../static/images/sultek_3.jpg" alt="" width="640" height="429"/>
                      <div class="gallery-item-classic-caption"><a href="../static/images/sultek_3.jpg" data-lightgallery="item">zoom</a></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 isotope-item wow-outer" data-filter="Category 3">
                  <div class="wow fadeInUp">
                    <div class="gallery-item-classic"><img src="../static/images/papcsinta.jpg" alt="" width="960" height="429"/>
                      <div class="gallery-item-classic-caption"><a href="../static/images/papcsinta.jpg" data-lightgallery="item">zoom</a></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 isotope-item wow-outer" data-filter="Category 2">
                  <div class="wow fadeInUp">
                    <div class="gallery-item-classic"><img src="../static/images/palacsinta_2.jpg" alt="" width="960" height="429"/>
                      <div class="gallery-item-classic-caption"><a href="../static/images/palacsinta_2.jpg" data-lightgallery="item">zoom</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-lg bg-default">
        <div class="container wow-outer">
          <h2 class="text-center wow slideInDown">Recent News</h2>
          <!-- Owl Carousel-->
          <div class="owl-carousel wow fadeInUp" data-items="1" data-md-items="2" data-lg-items="3" data-dots="true" data-nav="false" data-stage-padding="15" data-loop="false" data-margin="30" data-mouse-drag="false">
            {% for obj in news%}
            <div class="post-corporate"><a class="badge" href="#">{{ obj.letrehozva}}</a>
              <h4 class="post-corporate-title"><a href="#">{{ obj.cim }}</a></h4>
              <div class="post-corporate-text">
                <p>{{obj.szoveg}}</p>
              </div><a class="post-corporate-link" href="#">Tovább olvasok<span class="icon linearicons-arrow-right"></span></a>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- Page Footer-->
{% endblock %}